<div class="card text-bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <table class="table table-hover table-striped">
            <thead> <!-- Tabla Encabezado -->
                <tr> <!-- Columna -->
                    <th>id</th> <!-- A1 -->
                    <th>Nombre</th> <!-- B1-->
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha creación</th>
                </tr>
            </thead>
            <tbody> <!-- Tabla Cuerpo -->
                <tr *ngFor="let alumno of alumnos"> <!-- Cada fila de la tabla -->
                    <td>{{alumno.id}}</td> <!-- A2 -->
                    <td>{{alumno.nombre}}</td> <!-- B2-->
                    <td>{{alumno.apellido | uppercase}}</td>
                    <td>{{alumno.email}}</td>
                    <td>{{alumno.createAt | date: 'd/M/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
      </div>
  </div>

