<div class="card text-bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-info btn-sm" routerLink="/examenes/form">Crear</button>
        <div class="alert alert-info" *ngIf="lista?.length==0">
            No hay exámenes en el base de datos.
        </div>
        <table class="table table-hover table-striped" *ngIf="lista?.length>0">
            <thead> <!-- Tabla Encabezado -->
                <tr> <!-- Columna -->
                    <th>id</th> <!-- A1 -->
                    <th>Nombre</th> <!-- B1-->
                    <th>Asignaturas</th>
                    <th>Fecha creación</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody> <!-- Tabla Cuerpo -->
                <tr *ngFor="let examen of lista"> <!-- Cada fila de la tabla -->

                    <td>{{ examen.id }}</td> <!-- A2 -->
                    <td>{{ examen.nombre }}</td> <!-- B2-->
                    <!-- Valido
                    <td>{{ examen.asignaturaPadre.nombre }} → {{ examen.asignaturaHija.nombre }}</td> -->
                    <td>{{ examen.asignaturaHija?.padre.nombre }} → {{ examen.asignaturaHija.nombre }}</td>
                    <td>{{examen.createAt | date: 'd/M/yyyy'}}</td>

                    <td>
                        <button class="btn btn-primary my-2" 
                        [routerLink]="['/examenes/form', examen.id]">¿editar?</button>
                    </td>

                    <td>
                        <button (click) = "eliminar(examen)" class="btn btn-danger btn-sm">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Cambiar entre pagina, a ese evento se le conoce como "page" -->
        <mat-paginator [length] = "totalRegistros"
              [pageSize] = "totalPorPagina"
              [pageIndex] = "paginaActual"
              [pageSizeOptions] = "opcTamanioPagina"
              aria-label = "Select page"
              (page) = "paginar($event)"
              showFirstLastButtons
              class="float-left mx-2"
              >
        </mat-paginator>

      </div>
  </div>